@charset "utf-8";
/* CSS Document */

.paper{
	background-color:white;
	padding: 0px 10px 10px 10px;
	margin-left:auto;
	margin-right:auto;
}
.event {
	padding-left:40px;
	padding-top:5px;
	padding-bottom:5px;
	max-width:100%;
	margin: 5px 0px 5px 0px;
	background-color:#FFF;
}

.event-success {
	border:3px #448600 solid;
	background-image:url(/img/success.png);
	background-repeat:no-repeat;
}

.event-info {
	border:3px #428bca solid;
	background-image:url(/img/progress.png);
	background-repeat:no-repeat;
}
.event-warning {
	border:3px #ffa800 solid;
	background-image:url(/img/caution.png);
	background-repeat:no-repeat;
}

.event-fail {
	border:3px #b50000 solid;
	background-image:url(/img/fail.png);
	background-repeat:no-repeat;
}

.card {
	background-color:white;
	border:thin solid #666;
	padding:10px 10px 10px 10px;
	margin:10px -15px 10px -15px;
}

.mobileFixedCard {
	background-color:white;
	border:thin solid #666;
	padding:10px 10px 10px 10px;
	margin:10px 0px 10px 0px;
}
.mobileBugSearchCard {
	background-color:white;
	border:thin solid #666;
	padding:10px 10px 10px 10px;
	margin:10px 0px 10px 0px;
}

.metrics {
	background-color:white;
	margin-left:10px;
	margin-top:10px;
}

.delAttachment {
	color:red;
	margin-right:10px;
}

#files ul {
	list-style-type:none;
}

.greencheck {
	color:green;
	margin-right:5px;
}

.warning {
	color:orange;
	margin-right:5px;
}

.addcomment {
	background-color:#36C;
}

.unread {
	background-color:#FFFBCC;
}

#navbar-brand a {
	color:white;
}

#bs-navbar-collapse-1 {
	background-color:#2A6496;
	color:white;
}
#bs-navbar-collapse-1 a {
	color:white;
}

#bs-navbar-collapse-1 a:hover {
	background-color:white;
	color:#2A6496;
}

#bs-navbar-collapse-1 a:focus {
	background-color:white;
	color:#2A6496;
}

progress { width: 100%; }
progress:after { content: '%'; }
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}

/*.uploadBox {
	border-style:dashed;
	border-width:thick;
	border-color:#999;
	min-height:125px;
	width:150px;
	margin-left:-15px;
	margin-bottom:10px;
}*/

#holder {
	border: 5px dashed #ccc;
	width: 100%;
	min-height: 75px;
/*	margin-left:-15px;*/
	margin-bottom:10px;

}
#holder.hover { border: 5px dashed #0c0; }
#holder img { display: block; margin: 5px auto; }
#holder p { margin: 10px; font-size: 14px; }

#projectArea {
	margin-left:260px;
}

#severityDescription {
	margin-top:10px;
	margin-left:15px;	
}
#sudo {
    background-color: #EDEDED;
    border: thin solid #A9A9A9;
    padding: 5px 5px 5px 5px;
    position: relative;
    height: 28px;
    width: 100%;
    z-index: 99999;	
	vertical-align:baseline;
}
body {
	background-image:url(/img/texture_grain_200x200_v2.png)
}

.noUnderline a:hover {
	text-decoration: none;
}

.editcomment {
	/*I do nothing.*/
}
 
.urgent-bug {
	color:red;
	text-align: center;
}

#bugCommands a {
  margin-right: 10px;
}

.urgent {
	color:red;
	font-weight:bold;
}
.urgent a {
	color:red;
	font-weight:bold;
}

.admin-hack {
	border-color: #ddd;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	float: left;
	margin: 8px 0px 8px 15px;
	padding: 9px 0px 9px 0px;
	position: relative;	
}

#bugCommands .glyphicons, #bugCommands .glyphicons:before {
	position:relative;
	padding-left:5px;
}