#Force SSL
RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

#Deny access to the private key if someone fails to remove it from the document root.
<Files private.key>
	Require all denied
</Files>

#Pretty Links - Just like in WP, we need to parse it at index.php, and include appropriately.
Options +FollowSymLinks

#Route /login/ to login.php
RewriteRule login/ /login.php

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule .* index.php [L]