#Force SSL - in some cases, this only works when you have it in the sites configuration for apache.
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

#Deny access to the private key if someone fails to remove it from the document root.
<Files private.key>
	Require all denied
</Files>

#Pretty Links - Just like in WP, we need to parse it at index.php, and include appropriately.
Options +FollowSymLinks

#Rewrite old bugzy links with 301's
#RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{QUERY_STRING} ^bid=(/d+)$
RewriteRule ^manageBug\.php$ /bug/%1 [R=301,L]

#RewriteRule ^/manageBug.php\?bid=([0-9]+)$ /bug/$1 [R=301,L]


RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule .* index.php [L]
