<?php

/* Basic system configurations parameters - Defined the CLI vars*/

$vars = ['http_host'     => 'https://www.yourserver.com/'
        ,'document_root' => '/home/youruser/www'
        ];
