{
  "http_host": "http://app.example.com",
  "document_root": "/var/www",
  "db": {
    "server": "localhost",
    "database": "phpant",
    "rootuser": "root",
    "rootpass": "password",
    "username": "antuser",
    "userpass": "foopass",
    "createdb": true
  },
  "adminuser": {
    "first": "Foo",
    "last": "User",
    "username": "admin@example.com",
    "password": "monkey1234"
  },
  "apps": {
    "+Core App Manager": {
      "hash": "d595ecf",
      "remote": "https://github.com/mjmunger/phpant-app-manager.git"
    },
    "Default Grammar": {
      "hash": "f7bd0b4",
      "remote": "https://github.com/mjmunger/ant-app-default.git"
    }
  }
}